/*Custom Selectors*/

@custom-selector :--heading h1, h2, h3, h4, h5, h6;

@custom-selector :--btn a.btn, button, input[type=submit];

@custom-selector :--over :hover, :focus, :active;

@custom-selector :--options input[type='checkbox'], input[type='radio'];

@custom-selector :--forms-txt input[type="text"], input[type="password"], input[type="email"],
                                input[type="number"], input[type="tel"], input[type="search"], textarea, select;

@custom-selector :--list ul, ol;
