.btn {
  display: block;
  background: var(--brand-other);
  color: white;
  border: none;
}

.btn-icon {
  background: none;
  color: var(--brand-dark);
  border: none;
  padding: 0;
}

.btn-icon:--over {
  background: none;
  color: var(--gray-nude);
}
