.navegation {
  display: block;
}

@media (--screen-small) {

  .navegation {
    position: relative;
    height: 100%;
  }

  .navegation .menu {
    display: block;
    width: 120px;
    position: absolute;
    right: 0;
    top: 50px;
    text-align: right;
    transform: translateX(120%);
    max-width: 0;
    overflow: hidden;
    background: var(--gray-nude);
    transition: var(--transition-base);
  }

  .navegation .menu._active {
    transform: translateX(0);
    max-width: none;
  }

  .navegation .menu li {
    margin: 0;
  }

  .navegation .menu a {
    text-decoration: none;
    display: block;
    padding: var(--space-base);
    transition: background .2s;
  }

  .navegation .menu a:hover {
    background: var(--brand-base);
    color: white;
  }

}

@media (--screen-large) {
  .navegation ._button {
    display: none;
  }
  .navegation .menu {
    display: flex;
    justify-content: flex-end;
  }

  .navegation .menu li {
    margin: 0 var(--space-base);
  }

  .navegation .menu li:first-child {
    margin-left: 0;
  }

  .navegation .menu li:last-child {
    margin-right: 0;
  }
}
