.list-skill li {
  display: flex;
  justify-content: space-between;
  padding: var(--space-small) 0;
}

.list-skill li:first-child {
  padding-top: 0;
}

.list-skill li:last-child {
  padding-bottom: 0;
}

.list-skill span {
  max-width: 140px;
  padding-right: var(--space-base);
  color: var(--gray-base);
}

.list-skill svg {
  width: 16px;
  height: 16px;
  padding: 0 var(--space-small);
}
