/*=========================================================================
04 - PAGES
=========================================================================*/


.teste1 {
  background: var(--brand-dark);
  color: var(--brand-base);
}

.teste2 {
  background: var(--brand-light);
  color: var(--brand-base);
}
